
(
    axes: {
        "player_x": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
        "player_y": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
    },
    actions: {
        "camera_switch": [[Key(Space)]],
        "select": [[Mouse(Left)]],
        "toggle_rotation": [[Key(Y)]],
        "toggle_translation": [[Key(T)]],
    },
)