
(
    axes: {
        "player_x": Emulated(
            pos: Key(Right),
            neg: Key(Left),
        ),
        "player_y": Emulated(
            pos: Key(Up),
            neg: Key(Down),
        ),
    },
    actions: {
        "camera_switch": [[Key(Space)]],
        "select": [[Mouse(Left)]],
        "toggle_rotation": [[Key(Y)]],
        "toggle_translation": [[Key(T)]],
    },
)